.mainContainer {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.tituloPrincipal {
  color: #feda4a;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

input {
  display: block;
  margin: 0 auto 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 300px;
  background-color: #1a1a1a;
  border: 1px solid #feda4a;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
}

input::placeholder {
  color: #888;
}

.totalResultados {
  text-align: center;
  color: #c9d1d9;
  margin-bottom: 1.5rem;
}

.countriesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 700px;
  margin: 0 auto;
}

.noResultados {
  color: #888;
  text-align: center;
}
.subtitulo {
  color: #feda4a;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
}
